/* ========================================== 
             CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
============================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ================================= 
          End of CSS Reset
==================================== */



* {
  box-sizing: border-box;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ================================= 
              Landing div
==================================== */

.landing-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(images/yellow-background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.landing-div h1 {
  font-size: 6em;
}

.landing-div p {
  font-size: 3em;
}

.title-container {
  text-align: center;
}

/* ================================= 
              My Skills
==================================== */

.my-skills {
  top: 100%;
  width: 100%;
  background-color: #000;
}

img {
  max-width: 100%;
  max-height: 100%;  
}

/* ================================= 
              Quote
==================================== */

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100%;
  height: 150px;
  width: 100%;
  background: #1E1E1E;
  font-family: PTSerif-Regular;
  font-size: 1.5em;
  color: #BBBBBB;
}

/* ================================= 
              My Story
==================================== */

.my-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-family: Helvetica;
  color: #424242;
  line-height: 35px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.my-story h2 {
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 20px;
}

.my-story a {
  color: red;
  text-decoration: none;
}

.my-story a:hover {
  color: brown;
}

.my-story p {
  width: 75%;
  margin-top: 20px;
}


.yellow {
  background: #f9ee1e;
}

/* ================================= 
              My Apps
==================================== */

.app-container {
  background: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.2em;
  font-family: Helvetica;
}

.app-container h1 {
  color: #BBBBBB;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 20px;
}

.my-apps {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 90%;
}

.box {
  float: left;
  position: relative;
  height: 220px;
  width: calc(33.33333% - 30px);
  margin: 15px;
}

.box img {
  width: 100%;
  height: 100%;
}

.planify img{
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .65);
}

/* ================================= 
  Photo Overlay Transitions
==================================== */

.photo-overlay {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.photo-overlay:hover {
  opacity: 1;
}

.photo-overlay h3 {
  font-size: 1.3em;
  line-height: 1.25em;
  margin-top: .85em;
  margin-bottom: .5em;
}
.photo-overlay p {
  font-size: .875em;
  line-height: 1.4;
  margin: 0 0 1.5em;
}

/* ================================= 
             Footer
==================================== */

.footer {
/*     position: absolute; */
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #f9ee1e;
    text-align: center;
    line-height: 100px;
}

.logo {
  display: inline-block;
  float: right;
  height: 20px;
  margin-right: 10px;
}

.redheart {
  color:#ff0000; font-size:16px;    
  font-family:'arial unicode MS', arial, geneva, sans-serif;
}

/* ================================= 
          Media Queries
==================================== */

@media (max-width: 1200px) {
  .my-apps {
    padding: 20px;
    width: 70%;
  }
  .box{
    height: 220px;
    width: calc(50% - 40px);
    margin: 20px;
  }
  
}

@media (max-width: 1000px) {
  .my-apps {
    padding: 20px;
    width: 90%;
  }
  .box{
    height: 220px;
    width: calc(50% - 30px);
    margin: 15px;
  }
  .quote {
    font-size: 1.2em;
    height: 100px;
    padding: 20px;
    line-height: 30px;
  }
  
}

@media (max-width: 835px) {
  .my-apps {
    padding: 20px;
    width: 100%;
  }
  .box{
    height: 220px;
    width: calc(50% - 20px);
    margin: 10px;
  }
  
}

@media (max-width: 687px) {
  .my-apps {
    
    width: 80%;
  }
  .box{
    height: 220px;
    width: 100%;
    
    margin: 0px;
    padding-bottom: 20px;
  }
  .landing-div h1 {
    font-size: 4.3em;
  }

  .landing-div p {
    font-size: 2em;
  }
  
}

@media (max-width: 470px) {
  .my-apps {
    padding: 10px;
    width: 100%;
  }
  .box{
    height: 220px;
    width: 100%;
    margin: 0px;
    padding-bottom: 20px;
  }
  .landing-div h1 {
    font-size: 3.5em;
  }

  .landing-div p {
    font-size: 1.5em;
  }
  
}



